:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

.card {
    background: #191c29;width: var(--card-width);height: var(--card-height);padding: 3px;position: relative;border-radius: 6px;justify-content: center;align-items: center;text-align: center;display: flex;font-size: 1.5em;color: rgb(88 199 250 / 0%);cursor: pointer;}